<head>

    <link rel="stylesheet" href="{{ url_for('static', path='css/layout.css') }}">
</head>

<header>
    <nav>
        <div class="logo">
            <i class="fas fa-book-open"></i>
            <span>Knjižara</span>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Žanr</a>
                <div class="dropdown-menu">
                    <a href="#">Triler</a>
                    <a href="#">Romantika</a>
                    <a href="#">Fantastika</a>
                    <a href="#">Biografije</a>
                </div>
            </div>
            <a href="/zelje">Želje</a>
            <a href="/korpa">Korpa</a>
            <a href="/mojracun">Moj račun</a>
        </div>
        <div class="mobile-menu">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>
